*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin: 0;
  background-color: black;
  font-family: centaur;
}
.container{
	
	width: 85%;
	max-width: 850px;
	margin: 0 auto; 
}
.header{
  z-index: 999;
	padding: 2rem;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.header a{
	color: aliceblue;
	text-decoration: none;
}

.logo{
	width: 10%;

}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;

}

.navigation ul li{
	display: inline-block;
}

.navigation ul li a {
	border-radius: 5px;
	transition: all 0.4s linear;
	display: block;
	padding: 0.5rem 1rem;

}
.navigation ul li a:hover {
	background:#7F3BEB;
}

.main{
	padding-top: 12rem;
}



.opacidad1{
  margin-top: 10px;
  position: absolute;
  width: 100%;
  height: 400px;
}

.foto{
  border-radius: 200px; 
  padding:0px;
  width: 32%;
  height: 300px;
  position: absolute;
  margin-left: 750px;
  margin-top: 60px;
}

#text{
  font-size: 500px;
  font-weight: normal;
}

img{
	width: 100%;
}

	h1, p{
    color: #ffffff;
    margin-left:100px;
    font-size: 50px;
}
.text{
    text-align: center;
    position: absolute;
}

p{
  margin-left: 190px;
  margin-top: 150px;
  font-size: 50px;
}
.letras2{
  margin-top: 20px;
}
.cuerpo1{
  height: 400px;
}

.papabarras{
  height: 800px;
  background-color: black ;
}
.presentacion{
  height: 310px;
  margin-top: 100px;
  border-radius:20px;
  background-color:black;
  margin-left: 5px;
}

.video1{
  margin-top: 20px;
  margin-left: 120px;
}

button{
  border-color: #1B1464;
  border-right: 8px solid #111111;
}
#videopum{
  margin-top: 5px;
  width: 380px;
  height: 200px;
}
.barras1{
  height: 700px;
  border-radius: 20px;
  background-color:black;
  margin-left: 40px;
  margin-top: 20px;
  margin-right: 10px;
}
#habilidades1{
  margin-top:40px;
  font-size: 30px;
  text-align: start;
}
.barras2{
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  background-color:black;
  margin-left: 1px;
}
.imagen{
  margin-top: 5px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
.engranaje{
  margin-left: 155px;
  width: 50px;
  height: 50px;
}
.habilidades{
  margin-left: 155px;
  width: 100px;
  height: 100px;
}

.hh{
  margin-top: 6px;
  margin-left: 3px;
  font-size: 18px;
}

#habilidades2{
  margin-left: 75px;
  margin-top:40px;
  font-size: 30px;
}

.progress{
  height: 30px;
  margin-top: 15px;
  background-color: #1b1464;
}

.progress-bar{
  margin-top: 5px;
  height: 20px;
  margin-left: 10px;
  border-radius: 3px;
  background-color: #7F3BEB;
}

.cabecerasomi{
  height: 60px;
  background-color: #43089E;
}

#somi{
  margin-left:550px ;
  margin-top: 10px;
  height: 40px;
}

.cajapapasobremi{
  height: 450px;
  background-color: black;
}

button{
  width: 140px;
  background-color: #7F3BEB;
  color: blanchedalmond;
  border-radius: 10px;
}

h1{
  font-size: 20px;
}
h2{
  font-size: 20px;
  color: #fff;
}


.negrilla1{
  margin-left:100px;
  font-weight:bold;
}
.negrilla2{
  margin-left:20px;
  font-weight:bold;
}
.textos1{
  margin-top: 40px;
  margin-left: 60px;
}
.libros{
  margin-left:160px;
  margin-top: 40px;
  width: 100px;
  height: 100px;
}
.pasatiempos{
  margin-top:20px;
  margin-left:90px;
  width: 80px;
  height: 80px;
}
.trabajo{
  margin-top: 45px;
  margin-left: 100px;
  width: 90px;
  height: 80px;
}

.textos2{
  margin-top: 80px;
  margin-left: 460px;
}

.textos3{
  position: absolute;
  margin-top: 50px;
  background-color:black;
  margin-left: 530px;
}

.papaservicios{
  border-radius:10px;
  height: 500px;
  background-color: black;
}

.servicios1{
  background-color: #43089E;
  margin-top: 10px;
  width: 80px;
  height: 50px;
  color: #fff;
}

#servicios{
  background-color: #7F3BEB;
  margin-top: 9px;
  margin-left: 555px;
}

.lineaser{
  border-radius:10px;
  margin-top: 20px;
  margin-left: 45px;
  height:400px;
  background-color: #43089E;
}

#camara{
  margin-left: 60px;
  margin-top: 30px;
  width: 70px;
  height: 50px;
}

#lapiz{
  margin-left: 215px;
  margin-top:30px;
  height: 80px;
  width: 60px;
}

#play{
  margin-left: 360px;
  margin-top:15px;
  height: 80px;
  width: 50px;
}

#diseñoweb{
  margin-left: 55px;
  margin-top:10px;
  height: 50px;
  width: 50px;
}
#diseñomarca{
  margin-left: 200px;
  margin-top:10px;
  height: 80px;
  width: 70px;
}


.btn11{
  background-color:#7F3BEB;;
  margin-left: 25px;
  margin-top: 50px;
  height: 40px;
}
.btn22{
  background-color:#7F3BEB;;
  margin-left: 170px;
  margin-top: 50px;
  height: 40px;
}

.btn33{
  background-color:#7F3BEB;;
  margin-left: 300px;
  margin-top: 50px;
  height: 40px;
}
.btn44{
  background-color:#7F3BEB;;
  margin-left: 25px;
  margin-top: 50px;
  height: 40px;
}
.btn55{
  background-color:#7F3BEB;;
  margin-left: 170px;
  margin-top: 50px;
  height: 40px;
}

.btn66{
  background-color:#7F3BEB;;
  margin-left: 300px;
  margin-top: 50px;
  height: 40px;
}

.btn4{
  margin-top: 50px;
  height: 40px;
}

.manual{
  border-radius: 10px;
  margin-top: 20px;
  height: 400px;
  margin-left:50px;
  background-color:#43089E;
}

#manualdemarca{
  background-color:#7F3BEB;
  margin-left: 145px;
  margin-top: 50px;
  margin-right: 10px;
}

#proyectos{
  background-color:#7F3BEB;
  margin-left: 145px;
  margin-top: 50px;
}

#recuerdos{
  background-color:#7F3BEB;
  margin-left:145px;
  margin-top: 60px;
}

.conteportafolio{
  height: 80px;
  background-color: #43089E;
}

.cuerpoimagenes{
  background-color: black;
  height: 800px;
}
.textogaleria{
font-weight: 400;
text-align: center;
padding:  20px 0;
font-size: 40px ;
}
.linea{
  background: black;
  height: 5px;
  width: 100%;
  display: block;
}

.galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap:10px;
  padding: 40px 0;
  overflow: hidden;
}
.galeria > a{
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img{
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;

}
.galeria a:hover img{
  filter:blur(2px);
  transform: rotate(10deg) scale(1.3);
}

.light-box{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.light-box img{
  width: 75vw;
  max-height: 70vh;
}
.light-box:target{
  transform: scale(1);
}

.close{
  display: block;
  position:absolute;
  top: 40px;
  right: 40px;
  background: #43EBC6;
  color: #fff;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.next{
  display: block;
  background: #43EBC6;
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

@media screen and(max-width:400px){
.galeria{
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.close{
  top:20px;
  right: 20px;
}
}

.cuerpoilustraciones{
background-color: black;
}




#porta{
  display: flex;
  font-size: 60px;
  font-weight: bold;
}

.porta{
  margin-top: 5px;
  margin-left: 500px;
}

.ima{
width: 200px;
height: 200px;
}

.fotografia1{
  border-radius: 10px;
  height: 900px;
  margin-top: 10px;
  background-color:#7F3BEB;
  margin-left: 30px;
}

.fotografia{
margin-left: 135px;
margin-top: 10px;
height: 50px;
width: 100px;
}

.ima{
  margin-top: 55px;
  margin-left:40px;
  width: 300px;
  height: 200px;
}

.imag{
  margin-top: 25px;
  margin-left: 40px;
  width: 300px;
  height: 200px;
}

.image{
  margin-top: 25px;
  margin-left: 40px;
  width: 300px;
  height: 200px;
}

.ilustraciones{
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 10px;
  background-color:#7F3BEB;
}


#botonilu1{
  height: 50px;
  margin-top: 10px;
  margin-left: 80px;
}

#botonani{
  height: 50px;
  margin-top: 10px;
  margin-left: 160px;
}

.seres{
  margin-top: 20px;
  margin-left: 5px;
  width: 290px;
  height: 200px;
}

.fantasma{
  margin-top: 20px;
  margin-left: 35px;
  height: 300px;
  width: 250px;
  
}
.mula{
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 250px;
}

.animaciones{
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
  background-color:#7F3BEB;
}

#animacion{
  width: 200px;
  height: 200px
}

.visuales{
  margin-top: 10px;
  height: 400px;
  background-color:#7F3BEB;
}

#visuales1{
  margin-left: 250px;
  margin-top: 60px;
}

#visuales2{
  margin-left: 250px;
  margin-top: 60px;
}

.avisuales{
  margin-top: 10px;
  height: 400px;
  background-color: #7F3BEB;
}

#videoani2{
  width: 500px;
  height: 200px;
  margin-top: 20px;
  margin-left: 50px;
}

.marc{
  margin-top: 50px;
  margin-left: 250px;
  width: 100px;
  height: 200px;
}

#texto{
  font-size: 30px;
  margin-top: 10px;
  margin-left: 675px;
}

.redes1{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #7F3BEB;
}

.instagram{
  position: absolute;
  margin-top: 20px;
  margin-left: 200px;
  width: 50px;
  height: 50px;
}
.whatsapp{
  margin-left: 190px;
  margin-top: 10px;

  width: 50px;
  height: 50px;
}
.numeros{
  margin-top: 35px;
  position: absolute;
  margin-left: 250px;
}
.facebook{
  margin-top: 10px;
  margin-left: 400px;
  width: 50px;
  height: 50px;
}
.arreglarli, a{
  list-style: none;
  text-decoration: none;
}
.arreglarla{
  list-style: none;
  text-decoration: none;
}

li a:hover {
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: black;
}

.formulario{
  height: 400px;
  margin-top: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: black;
}

.campo-form{
  color: #fff;
  justify-content:center;
  display: flex;align-items: center;
  border-color:  #43089E;
  border-radius: 10px;

}

.buttonspecial{
  border-radius: 10px;
  margin-left: 630px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7F3BEB;
}
.nombre{
  margin-left: 550px;
}
.email{
  margin-left: 550px;
}
.consulta{
  margin-left: 550px;
}